.list {
    list-style: none;
    /* Убираем маркеры */
    padding: 0%;
    margin: 0%;
}

.strong-mame {
     display: none;
 }
/* header & backgroung color main  #FFFFFF */
/* our team backgroung color #F5F4FA */
/*  footer backgroung color  #2F303A */
:root {

    --background-color-main: #FFFFFF;
    --background-color-addition:#2F303A;
    --background-color-button: #F5F4FA;
    --border-color: #EEEEEE;
    --color-main: #212121;
    --color-addition: #757575;
    --color-button: #2196F3;
    --color-white-opacity: rgba(255,255,255,0.6);
    --color-hover: #188CE8;
    --color-icon: #E5E5E5;
    --color-icon-black: #AFB1B8;
    --color-header: #212121;
    --color-icon-background: rgba(255, 255, 255, 0.1);
    --color-cover-background: rgba(47, 48, 58, 0.8);
    --letter-spacing-small: 0.02em;
    --letter-spacing-medium: 0.03em;
    --letter-spacing-big: 0.06em;
    --font-size-twelf: 12px;
    --font-size-extrasmall: 14px;
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-big: 30px;
    --font-size-superbig: 36px;
    --font-size-logo: 26px;
    --font-weight-four: 400;
    --font-weight-five: 500;
    --font-weight-seven: 700;
    --font-weight-nine: 900;
    --twohundred-dur: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    box-sizing: border-box;
}
*,
*::before
*::after {
    box-sizing: border-box;
}

body  {
    background-color: var(--background-color-main);
    color: var(--color-main);
    font-family: 'Roboto', sans-serif;
    width: 1600px;
      }
/* HEADER */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container.main, .nav-main {
    display: flex;
    align-items: center;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC; 
}
.logo {
     font-family: 'Raleway', sans-serif;
     color: #000000;          
     font-size: var(--font-size-logo);
     line-height: 1.19;
     letter-spacing: 0.03em;
     text-decoration: none;
    }
.accent-web {
    color: var(--color-button);
}
.accent-studio {
    color: var(--background-color-main);
}

/* SITE NAVIGATION */
.site-nav {    
    display: flex;
    margin-left: 93px;  
}
.site-nav .items + .items {
    margin-left: 50px;
}
.site-nav .link {
    display: block;    
    font-weight: var(--font-weight-five);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-small);
    text-decoration: none;
    color:var(--color-header);
}
.link {
    position: relative;
    padding: 10px 0px;
    transition: color var(--twohundred-dur) var(--timing-function);
}
.link.current::after {
    position: absolute;
    left: 0;
    top: 55px;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--color-button);
    border-radius: 2px;
}
.link.current {
    color: var(--color-button);
}
.link:hover, .link:focus{
    color: var(--color-hover);    
}

/* ADDRESS */

.address-header {
    display: flex;
    margin-left: auto;
   
}
.items-address {
   display: block;
}

.address-header .items-address:not(:last-child) {
    padding-right: 50px;
}

.header-address {
    display: inline-block;
    text-align: center;
    color: var(--color-addition);
    font-weight: var(--font-weight-five);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-small);
    text-decoration: none;
    transition: color var(--twohundred-dur) var(--timing-function);
}
.add-icon-button {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align:middle ;
    fill: var(--color-addition);
    transition: fill var(--twohundred-dur) var(--timing-function);
}

.header-address:hover, .header-address:hover .add-icon-button,
.header-address:focus, .header-address:focus .add-icon-button
        {
            color: var(--color-hover);
            fill: var(--color-hover);
        }


/* MAIN */
.main-slogan {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    
    /* background-image: url(..//images/slogan/Img\ Overlay.jpg); */
    background-color: var(--background-color-addition);
}  
.slogan-button {
    width: 696px;
    margin: 0 auto;
}
.slogan {
    margin: 0;
    color: var(--background-color-main);
    font-weight: var(--font-weight-nine);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: var(--letter-spacing-big);
    text-transform: uppercase;
}
.button {
    cursor: pointer;
    border: 0px solid transparent;
}
.button.main {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 30px;
    min-width: 200px;
    
    color: var(--background-color-main);
    background-color: var(--color-button);

    font-family: inherit;
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-small);
    line-height: 1.88;
    letter-spacing: var(--letter-spacing-big);

    transition: background-color var(--twohundred-dur) var(--timing-function);
    
}
.button.main:hover {
    background-color: var(--color-hover);
}
.overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(..//images/slogan/Img\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* MODAL WINDOW */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    max-height: 2931px;
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity var(--twohundred-dur) var(--timing-function);
    z-index: 2;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--background-color-main);
  
}

.backdrop-modal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--background-color-main);
 
}

.backdrop-icon-modal {
    height: 18px;
    width: 18px;  
    transition: fill var(--twohundred-dur) var(--timing-function);
}

.backdrop-modal-icon:hover .backdrop-icon-modal,
.backdrop-modal-icon:focus .backdrop-icon-modal{
   fill: var(--color-button)
}


/* strong points */
.strong-points {
    padding: 94px 0;     
}
.points-list {   
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.point-button-color:not(:first-child)  {
    margin-left: 30px;
}
.point-button-color {
    margin: 0;
    padding: 0;
}
.point-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height:120px;
    width: 270px;
    border-radius: 4px;
    background-color: var(--background-color-button);
}
.point-icon-button { 
    width: 70px;
    height: 70px;
}
.title {
    margin-top: 0;    
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-medium);
    text-transform: uppercase;
}
.title-text {
    margin: 0;
    color: var(--color-addition);
    font-weight: var(--font-weight-four);
    font-size: var(--font-size-extrasmall);
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-medium); 
}

/* our job */
.photo-section {
    padding-bottom: 94px;        
}
.section-title { 
    margin-top: 0%;
    margin-bottom: 50px;
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-superbig);
    line-height: 1.17;
    letter-spacing: var(--letter-spacing-medium);
    text-align: center;
}
.photo {
    display: flex;
    gap: 30px;
}
.photo-cover {
    position: relative;  
}
.photo-cover::before {
    display: inline-block;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px; 
    background-color: var(--color-cover-background);
    
}
.photo-cover-text {
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 100%;
}
 .cover-photo-text {
    display: block;    
    font-weight:var(--font-weight-seven);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    text-align: center;
    letter-spacing: var(--letter-spacing-medium);
    text-transform: uppercase;
    color: var(--background-color-main);
}

/* our team */
.section-team {
    padding-top: 94px;
    padding-bottom: 94px;  
    background-color: var(--background-color-button);
}
.team-title {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
    text-align: center;
}
.team {
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color-main);
}
.team-photo {
        display: block;
        max-width: 100%;
}
.team-description {
      padding: 30px 0 0 0 ;
}
.name {  
    margin: 0em;    
    font-weight: var(--font-weight-five);
    font-size: var(--font-size-small);
    line-height: 1.19; 
    letter-spacing: var(--letter-spacing-medium); 
}
.position {
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--color-addition);
    font-weight: var(--font-weight-four);
    font-size: var(--font-size-small);
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-medium);
}
.team-icons {
    display: flex; 
    padding: 16px 32px 30px 32px;
    list-style: none;
}
.button-color {
    margin: 0;
    padding: 0;
}
.team-button-icon {  
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: var(--color-icon-black);
    background-color: var(--color-icon-background);

    transition: fill var(--twohundred-dur) var(--timing-function), 
    background-color var(--twohundred-dur) var(--timing-function);
}
.button-color:not(:last-child) .team-button-icon {
    margin-right: 10px;
}
.team-icon-button {    
    width: 20px;
    height: 20px;
}
.team-button-icon:hover, .team-icon-button:hover {
fill: var(--background-color-main);
background-color: var(--color-hover);
}


/* OUR CUSTOMERS SECTION */

.our-customers {
    padding: 94px 0;
}
.customer-icons {
    display: flex;   
    margin: 0;
    padding: 0;
    list-style: none;
}
.customer-button-color {
    margin: 0;
    padding: 0;
}
.customer-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 170px;
    border: 1px solid var(--color-icon-black);
    border-radius: 4px;
    fill: var(--color-icon-black);
    background-color: var(--color-icon-background);
    transition: fill var(--twohundred-dur) var(--timing-function);
    
}

.customer-button-color:not(:last-child) .customer-button-icon {
    margin-right: 30px;
}
.customer-icon-button {
    width: 106px;
    height: 60px;
}
.customer-button-icon:hover, .customer-icon-button:hover,
.customer-icon-button:focus {
    fill: var(--color-button);
}

/* footer */
footer {
   background-color:var(--background-color-addition);
}
.foot {
padding: 60px 15px;
margin-left: 200px;

}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;   
    font-family: 'Raleway', sans-serif;
    color: var(--color-button) ;
    font-size: var(--font-size-logo);    
    line-height: 1.19;
    letter-spacing: var(--letter-spacing-medium);
    text-decoration: none;
}

.list-address:nth-child(-n+3){
 margin-bottom: 9px;
}
.address  {
    color: var(--background-color-main);
    font-weight:var(--font-weight-four);
    font-size: var(--font-size-extrasmall);
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-medium);
    text-decoration: none;
    transition: color var(--twohundred-dur) var(--timing-function);
}
.address-mail, .address-tel
{
    color: var(--color-white-opacity);
    font-weight: var(--font-weight-four);
    font-size:var(--font-size-extrasmall);
    line-height: 1.71;
    letter-spacing: var(--letter-spacing-medium);
    text-decoration: none;

    transition: color var(--twohundred-dur) var(--timing-function);
}
.address:hover, .address:hover, .address-mail:hover, .address-tel:hover,
.address-tel:focus, .address-tel:focus
{
    color: var(--color-hover);
}
.foot {
    display: flex;
    
}

.foot-icons-block {   
    margin-left: 70px;
    list-style: none;    
}
.foot-slogan {
    display: block;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 20px;
    color: var(--background-color-main);
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-medium);
}
.foot-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}
.button-color {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--color-icon-background);
    transition: background-color var(--twohundred-dur) var(--timing-function);
}
.icon-button {
    width: 20px;
    height: 20px;
    fill: var(--background-color-main);
}
.button-color:not(:last-child) .button-icon {
    margin-right: 10px;
}

.button-icon:hover {
    background-color: #188CE8;
}
/* Submit email */


.foot-ref-block {
    margin-left: 93px;
    list-style: none;
}

.foot-slogan {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom:  20px;
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-extrasmall);
    line-height: 1.14;
    letter-spacing: var(--letter-spacing-medium);
    text-transform: uppercase;  
    color: var(--background-color-main);
}

.email-ref {
   display: flex; 
}
.email-ref input {    
    width: 358px;
    height: 50px;
    padding: 15px 0px 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--background-color-addition);
}


.foot-submit-button {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
     
    padding: 10px 8px 10px 29px;

    margin-left: 17px;
    width: 200px;
    height: 50px;
    background-color: var(--color-button);
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: inherit;
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-small);
    line-height: 1.88;
    letter-spacing: var(--letter-spacing-big);
    color: var(--background-color-main);
}


.foot-telegram {  
margin-left: 10px;
width: 24px;
height: 24px;
}



/* portfolio  page*/
.portfolio {
    padding: 94px 0;
}
.button.secondary {
    padding: 6px 22px;
    border-radius: 4px;
    font-family: inherit;
    background-color: var(--background-color-button);    
    font-weight: var(--font-weight-five);
    font-size: var(--font-size-small);
    line-height: 1.62;
    letter-spacing: var(--letter-spacing-medium);

    transition: background-color var(--twohundred-dur) var(--timing-function),
    color var(--twohundred-dur) var(--timing-function), box-shadow var(--twohundred-dur) var(--timing-function);
   
}
.button.secondary:hover, .button.secondary:focus{    
    background-color:var(--color-button);    
    color:var(--background-color-main);   
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
/* JOB PICTURES */
.ref {
    display: block;  
    text-decoration: none;
    transition: box-shadow var(--twohundred-dur) var(--timing-function);

    
}
.ref:hover, .ref:focus
    {     
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

.ref:hover .image-job-cover,
.ref:focus .image-job-cover
    { 
    transform: translateY(0%);
    }  

.job-type {
    display: flex;
    margin-bottom: 34px;
    justify-content: center;
}
.job-type .items + .items {
    margin-left: 8px;
}

.job {
    display: flex;
    flex-wrap: wrap;  
   }
.job .items {    
    width: calc((100% - 60px)/3);
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;

}
.job .items:nth-child(3n) {
    margin-right: 0;
}
.job .items:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.image-job {
    display: block;
    max-width: 100%;
    /* outline: 1px solid red;     */
}
.text-photo {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
       
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color); 
}
.text-main {
    margin: 0;
    color: var(--color-main);
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-medium);
    line-height: 2;
    letter-spacing:var(--letter-spacing-big);   
}
.text-subs {
    margin-top: 4px;
    margin-bottom: 0px;
    color: var(--color-addition);
    font-weight: var(--font-weight-four);
    font-size: var(--font-size-small);
    line-height: 1.88;
    letter-spacing: var(--letter-spacing-medium);
}

.job-window {
    position: relative;    
    overflow: hidden;   
}
.image-job-cover 
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform var(--twohundred-dur) var(--timing-function);
    
}
.image-job-text {
    display: block;
    margin: 0;
    padding: 63px 24px;
    font-weight: var(--font-weight-four);
    font-size: var(--font-size-medium);
    line-height: 1.56;
    letter-spacing: var(--letter-spacing-medium) ;
    color: var(--background-color-main);
    
}

/* MODAL BUTTON WINDOW */
textarea {
    width: 100%;
    resize: none;
}
.main-button-form {
        width: 448px;
        margin-left: auto;
        margin-right: auto; 
}
.modal-button-slogan {
        display: inline-block;
        font-weight: var(--font-weight-seven);
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: var(--letter-spacing-medium);    
        color: #212121;
        margin-bottom: 12px; 
}

.form-explanation {
        display: inline-block;
        width: 100%;       
        margin: 0;
        padding: 0;
        margin-bottom: 4px;
        text-align: left;

        font-weight: var(--font-weight-four);
        font-size: var(--font-size-twelf);
        line-height: 1.17;        
        letter-spacing: 0.01em;    
        color: var(--color-addition);    
}

.main-form-button input {
        padding: 11px 0px 11px 40px;
}
.main-form-button {
        position: relative;
}
.main-form-button:not(:last-child) {
        margin-bottom: 10px;
}
.modul-telegram 
{       position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;

        width: 18px;
        height: 18px;
        transition: fill var(--twohundred-dur) var(--timing-function);
}


.input-form, textarea {
        width: 100%;
        font: inherit;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin: 0px;
        font-size: var(--font-size-extrasmall);
        transition: border var(--twohundred-dur) var(--timing-function);
    }
 .main-form-button:hover .input-form, textarea:hover,
 .main-form-button:focus .input-form, textarea:focus,
 .input-form:focus  
    {
    outline: none !important;
    border: 1px solid var(--color-button);
    cursor: pointer;
    }
.main-form-button:hover .modul-telegram,
.main-form-button:focus .modul-telegram
    {
    fill: var(--color-button);
    /* border: transparent; */
    cursor: pointer;
    }

.main-form-button textarea
{  
        padding: 12px 16px;
}
.main-form-checkbox {
        position: relative;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: var(--font-weight-four);
        font-size: var(--font-size-extrasmall);
        line-height: 1.71;
        letter-spacing: var(--letter-spacing-medium);    
        color: var(--color-addition);
    }
.main-form-checkbox .contract {
        color: #2196F3;
}
.checkbox-option input[type='checkbox'] {
        position: absolute;
        top: 4px;
        transform: translateX(-20px);   
        border-radius: 2px;
        width: 16px;
        height: 15px;    
}
.input-checkbox {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: absolute;
        border: 2px solid var(--color-header);
}
.input-checkbox:checked {
        border: 2px solid var(--color-button);
        background-color: var(--color-button);
        background-image: url('../images/icon_check_white.svg');
        background-size: contain;
        background-origin: border-box;
}

.submit-button {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-weight: var(--font-weight-seven);
    font-size: var(--font-size-small);
    line-height: 1.88; 
    letter-spacing: var(--letter-spacing-big);

    color: var(--background-color-main);
    background-color: var(--color-button);
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
   



